@import "../../assets/styles/grid.scss";
@import "../../assets/styles/typography.scss";

.wrap {
  margin-top: 80px;
  @include wrap();
  @include max-vw($hd) {
    margin-top: 60px;
  }
  @include max-vw($lg) {
    margin-top: 30px;
  }
}

.name {
  @include h1();
  position: relative;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4px;
  @include max-vw($lg) {
    flex-direction: column-reverse;
  }
}

.mobLine {
  @include max-vw($lg) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
}

.position {
  @include h3();
  margin-top: 0;
}

.text {
  @include text();
  margin-top: 40px;
  margin-bottom: 40px;
  span {
    margin-right: 4px;
  }
  @include max-vw($lg) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
