@import "../../assets/styles/typography.scss";

.title {
  @include h2();
  margin-top: 40px;
  margin-bottom: 8px;
}

.place {
  @include text();
  position: relative;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  &:not(:first-child) {
    &:before {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: var(--text-color);
      transition: background-color $speed;
      opacity: 0.1;
      margin-bottom: 12px;
    }
  }
}

.period {
  opacity: 0.6;
  font-size: 14px;
}
