@import "../../assets/styles/entry.scss";

.wrap {
  margin-top: 6px;
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 4px 6px;
    min-height: 24px;
    color: var(--btn-color);
    transition: opacity $speed;
    font-family: inherit;
    outline: none;
    &:not(:last-child) {
      margin-right: 4px;
    }
    &:active {
      opacity: 0.6;
    }
    @include focus();
  }
  @include max-vw($lg) {
    margin-top: 0;
    margin-right: 16px;
  }
}

.active {
  text-decoration: underline;
}
