@mixin min-vw($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin max-vw($breakpoint) {
  @media (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin min-vh($breakpoint) {
  @media (min-height: $breakpoint) {
    @content;
  }
}

@mixin max-vh($breakpoint) {
  @media (max-height: $breakpoint) {
    @content;
  }
}

@mixin focus($radius: 8px) {
  position: relative;
  outline: none;
  &:after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border: 1px solid rgba(#3eb2cc, 1);
    border-style: dashed;
    border-radius: $radius;
    z-index: 1;
  }
  &:focus:not([tabindex="-1"]):not(:active) {
    &:after {
      content: "";
      display: block;
    }
  }
}

@mixin period {
  opacity: 0.6;
  font-size: 14px;
  margin-left: 8px;
}
