$speed: 0.3s;

// COLORS
$white: rgba(#fff, 0.9999);
$gray: #f7f7f7;

// ELEMENT SIZES
$el-height-s: 28px;
$el-height-m: 34px;
$el-height-l: 48px;

// RADIUS SIZES
$radius-s: 2px;
$radius-m: 4px;
$radius-l: 8px;

// BREAKPOINTS
$xs: 360px;
$sm: 500px;
$md: 768px;
$lg: 1000px;
$hd: 1280px;
$xl: 1400px;
$xxl: 1600px;
