@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.contacts {
  display: flex;
  align-items: center;
  a {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  @include min-vw($lg) {
    margin-top: 16px;
  }
}
